<ng-template #content let-modal>
    <canvas id="graph"></canvas>
</ng-template>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Adresse MAC" [(ngModel)]="ip" aria-describedby="basic-addon2">
    <select class="custom-select" id="inputGroupSelect04" [(ngModel)]="selectedValue">
      <option *ngFor="let capt of capteurs"[ngValue]="capt">{{capt.type}}</option>
    </select>
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="addCapteur()" [disabled]="ip == null || selectedValue == null">Ajouter</button>
    </div>
</div>

<ul class="list-group" *ngFor="let capteur of listOfCapteur">

    <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value > 2" class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
        <b>{{capteur.who}}</b>{{capteur.text.success}}
        <img [src]="capteur.src.success" class="icon">
    </li>

    <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value == 1 && capteur.text.warning" class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
        <b>{{capteur.who}}</b>{{capteur.text.warning}}
        <img [src]="capteur.src.warning" class="icon">
    </li>

    <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value < 1" class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
        <b>{{capteur.who}}</b>{{capteur.text.danger}}
        <img [src]="capteur.src.danger" class="icon">
    </li>

</ul>