<ng-template #content let-modal>
    <canvas id="graph"></canvas>
</ng-template>

<div class="input-group" *ngIf="radioButton">
    <input type="text" class="form-control" placeholder="Adresse MAC" [(ngModel)]="ip" aria-describedby="basic-addon2">
    <select class="custom-select" id="inputGroupSelect04" [(ngModel)]="selectedValue">
      <option *ngFor="let capt of capteurs"[ngValue]="capt">{{capt.type}}</option>
    </select>
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="addCapteur()" [disabled]="ip == null || selectedValue == null">Ajouter</button>
    </div>
</div>
<div class="input-group" *ngIf="radioButton">
    <select class="custom-select" id="inputGroupSelect04" [(ngModel)]="suppCapteur">
      <option *ngFor="let ca of capteurs"[ngValue]="ca.who">{{ca.who}}</option>
    </select>
    <div class="input-group-append">
        <button class="btn btn-warning" type="button" (click)="supprimer()" [disabled]="suppCapteur == null">Supprimer</button>
    </div>
</div>

<ul class="list-group" *ngFor="let capteur of listOfCapteur">

    <span *ngIf="capteur.type == 'Microphone'">
        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value < 30" class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
            <b>{{capteur.who}}</b>{{capteur.text.success}}
            <img [src]="capteur.src.success" class="icon">
        </li>

        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value >= 30 && capteur.value <= 10 && capteur.text.warning" class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
            <b>{{capteur.who}}</b>{{capteur.text.warning}}
            <img [src]="capteur.src.warning" class="icon">
        </li>

        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value > 10" class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
            <b>{{capteur.who}}</b>{{capteur.text.danger}}
            <img [src]="capteur.src.danger" class="icon">
        </li>
    </span>

    <span *ngIf="capteur.type == 'Capteur mouvement' || capteur.type == 'Capteur senseur'">
        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value == 0" class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
            <b>{{capteur.who}}</b>{{capteur.text.success}}
            <img [src]="capteur.src.success" class="icon">
        </li>

        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value == 1" class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
            <b>{{capteur.who}}</b>{{capteur.text.danger}}
            <img [src]="capteur.src.danger" class="icon">
        </li>
    </span>

    <span *ngIf="capteur.type == 'Capteur lumiere'">
        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value < 300" class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
            <b>{{capteur.who}}</b>{{capteur.text.success}}
            <img [src]="capteur.src.success" class="icon">
        </li>

        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value >= 300 && capteur.value <800" class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
            <b>{{capteur.who}}</b>{{capteur.text.warning}}
            <img [src]="capteur.src.warning" class="icon">
        </li>

        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value > 800" class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
            <b>{{capteur.who}}</b>{{capteur.text.danger}}
            <img [src]="capteur.src.danger" class="icon">
        </li>
    </span>

    <span *ngIf="capteur.type == 'Capteur thermique'">
        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value < 33" class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
            <b>{{capteur.who}}</b>{{capteur.text.success}}
            <img [src]="capteur.src.success" class="icon">
        </li>

        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value >= 33 && capteur.value <= 39" class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
            <b>{{capteur.who}}</b>{{capteur.text.warning}}
            <img [src]="capteur.src.warning" class="icon">
        </li>

        <li (click)="openModal(content,capteur)" style="cursor: pointer;" *ngIf="capteur.value > 39" class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
            <b>{{capteur.who}}</b>{{capteur.text.danger}}
            <img [src]="capteur.src.danger" class="icon">
        </li>
    </span>

</ul>