<div class="radio-button-wrapper">
    <div class="btn-group btn-group-toggle center-top" ngbRadioGroup name="radioBasic" [(ngModel)]="radioButton">
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="true"> Administrateur
        </label>
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="false"> Contrôleur
        </label>
    </div>
</div>


<div style="margin:4%;">
    <div class="row">
        <div class="col-3">
            <app-capteurs></app-capteurs>
        </div>
        <div class="col-4">
            <app-graph-gaz></app-graph-gaz>
        </div>
    </div>
</div>