<div class="row">
    <div class="col-2">
        <label>Quel capteur voulez-vous ajouter :</label>
    </div>
    <div class="col-2">
        <select placeholder="test" name="capteur" [(ngModel)]="capteur">
            <option>Capteur de mouvement</option>
            <option>Microphone</option>
            <option>Sensor</option>
            <option>Capteur de lumière</option>
            <option>Capteur thermique</option>
        </select>
    </div>
    <div class="col-6" [hidden]=!capteur>
        <label>Entrez l'adresse mac du {{capteur}} &nbsp;</label>
        <input [(ngModel)]="adresseMac"/>
    </div>
    <div class="col-2" [hidden]=!capteur>
        <button (click)="save()" type="button" class="btn btn-success btn-sm"><i class="fas fa-save" aria-hidden="true"></i> Sauvegarder</button>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Quel capteur souhaitez vous supprimer :</label>
    </div>
    <div class="col-2">
        <select placeholder="test" name="suppCapteur" [(ngModel)]="suppCapteur">
            <option *ngFor="let type of capteurs">{{type.type}} : {{type.mac}}</option>
        </select>
    </div>
    <div class="col-2" [hidden]=!suppCapteur>
        <button (click)="supprimer()" type="button" class="btn btn-warning btn-sm"><i class="fas fa-times"></i> Supprimer</button>
    </div>
</div>

